<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Page</title>
</head>
<body>
    <h1>Update Appointment</h1>

    <form action="/appointments/<%= updateApp._id %>?_method=put" method="post">
        <label for="patientName">Patient Name: </label>
        <input value="<%= updateApp.name %>" type="text" name="patientName" id="patientName">

        <label for="reason">Reason: </label>
        <input value="<%= updateApp.reason %>" type="text" name="reason" id="reason">

        <label for="date">Date: </label>
        <input value="<%= updateApp.date %>" type="date" name="date" id="date">

        <label for="doctor">Doctor: </label>
        <input value="<%= updateApp.doctor %>" type="text" name="doctor" id="doctor">


        <button type="submit">Update</button>
    </form>
</body>
</html>