<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Details</title>
</head>
<body>
    <h1>All Appointments</h1>
<% allAppointments.forEach((oneApp)=>{ %> 

    <p>Patient Name: <%= oneApp.patientName %></p>
    <p>Date: <%= oneApp.date %></p>
    <p>Reason: <%= oneApp.reason %></p>
    <p>Doctor Name: <%= oneApp.doctor %></p>
    
    
    <form action="/appointments/<%=oneApp._id%>?_method=DELETE" method="post">
    <br>
        <button type="submit">Delete Appointment</button>
    <br>
    </form>
    <br>
    <a href="/appointments/<%= oneApp._id %>/update">
        <button type="submit">Update Appointment</button>
    </a>
    <a href="/appointments/<%= oneApp._id %>">
        <button>Check Appointment</button>
    </a>
    <hr>
    

<% }) %>
</body>
</html>