<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors Details</title>
</head>
<body>
    <h1>All Doctors</h1>
<% allDoctors.forEach((oneDoctor)=>{ %> 

    <p>Doctor Name: <%= oneDoctor.name %></p>
    <p>Specialty: <%= oneDoctor.specialty %></p>
    <p>Years of Experience: <%= oneDoctor.yearsOfExperience %></p>
    <a href="/doctors/<%= oneDoctor._id %>">
        <button>Check One</button>
    </a>
    <form action="/doctors/<%=oneDoctor._id %>?_method=DELETE" method="post">
        <br>
            <button type="submit">Delete Doc</button>
    </form>
    <br>
    <a href="/doctors/<%= oneDoctor._id %>/update">
    <button type="submit">Update Doctor</button>
    </a>

<% }) %>
</body>
</html>